<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>decode</title>
</head>

<body>
    <div>
        <h2>Which algorithm do you want to use?</h2>
        <a href="{% url 'steg:lsbDecode' %}">
            <input type="button" value="LSB" id="lsb_dec_button" name="lsb_dec_button">
        </a>
        <br>
        <br>
        <a href="{% url 'mnfDecode' %}">
            <input type="button" value="MnF" id="mnf_dec_button" name="mnf_dec_button">
        </a>
    </div>
</body>

</html>