
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decoded Images</title>
<link rel="stylesheet" href="{{ STATIC_URL }}style.css" />

</head>
<body>
    {% load static %}
    <h2>Original Image</h2>
    <img src="{{ image.inputImagePath.url }}" />
    <br><br>
    <h2>Encrypted Message</h2>
    <p>{% if image.message|length > 0 %}
    {{ image.message }}
    {% else %}
    No message found!
    {% endif %} </p>
</body>
</html>